[2017-03-14 04:40] deadcafe opened #7 "the KEY information in gcm_data is changed to pointer reference from substance"
Hi

I am using this library for DPDK APP, but there are some problems.

CBC mode, CTR mode and GCM are intermingled and are used at the same time in IPsec.
So an abstraction layer is being prepared by APP and MB API and GCM API are being used appropriately.

The gcm_data has substance of KEY information.Therefore it's necessary to copy KEY information in gcm_data from IPsec SA and eliminate after

[2017-03-14 12:48] tkanteck commented on #7
Hi,
I understand that it may be difficult for an application to provide common API for, let's say, AES-CTR and AES-GCM because of major differences in the library API's for these modes. DPDK crypto drivers (aesni and gcm) provide good level of abstraction and allow for API unification at application level. I think they also support session-less mode. Perhaps these drivers could fit into your appli

[2017-03-14 14:23] deadcafe commented on #7
In the DPDK implementation, the drivers are different between GCM and CBC, so sequence control is required on the upper AP.
Considering these implementation costs and performance improvement, I am using direct MB library.
In general, extended KEY is kept in IPsec SA. In order to do GCM as it is, gcm_data is required in the SA. However, it is not possible to process multiple packets like the MB API

[2017-03-14 16:09] sgmonroy commented on #7
Why do you need sequence control between GCM and CBC?
Can you also elaborate regarding "it is not possible to process multiple packets like the MB API by the same SA"?

[2017-03-15 01:11] deadcafe commented on #7
As it is L3, order management is not mandatory.
However, since poor firewalls see the order of IP packets, order control may be necessary.

In my AP implementation, in order to process IP packet processing efficiently, we adopted a design that processes multiple packets at the same time.
So, regardless of the algorithm, implementation is easy if crypto_request (packet_buffer, num_of_packets), cryp

[2017-03-15 10:50] sgmonroy commented on #7
The only scenario where I could see the order between CBC and GCM needs to be preserved is during SA re-keying where the new SA has a different algo than the old SA.
Otherwise, to keep order of L4/TCP flows, each flow should match a single SA, which means either CBC or GCM, therefore no need to keep order between CBC and GCM.

I am not understanding your point regarding "GCM packet referring to th

[2017-03-15 14:30] deadcafe commented on #7
Thank you for your advice.

However, since we released the product directly using the MB library, there is a concern that performance will degrade when passing through DPDK. We will consider switching when chained mbuf supports CBC etc.

The problem with AUTH_TAG is that it is impossible to communicate with myself in the size of the MTU.Tunnel MTU needs to be considered up to the outside of AP man

[2017-03-15 15:00] sgmonroy commented on #7
There is obviously some overhead of going through DPDK Cryptodev layer, that's the price to pay for a common API.

Re AUTH_TAG, thanks for the additional information. I think I understand your concern which is absolutely legitimate. With the current DPDK approach we could hit corner cases where there is not enough space left in the existing mbuf to store the AUTH_TAG and we would fail to process t

[2017-03-16 03:06] deadcafe commented on #7
Ok.
I assigned AUTH_TAG to an unused part in the headroom top in quick hack(bad know-how).

The KEY is just changed to pointer reference, and is there impact in performance?
gcm_data { key_val; ctx; }  -> gcm_data { key_ptr; ctx; }
KEY pointer was also in JOB in MB API, so it was the recognition that it's no problem.

POC code which makes GCM MB API was made. It seemed good as POC in make, so it's

[2017-03-17 00:31] deadcafe commented on #7
The essence of my argument is that mapping GCM contexts to SAs is not acceptable.
I noticed it now.That is because it is not permanently necessary information like the KEY information.
It is not desirable to add meta information that does not need to be persisted, as SA members and SAs themselves are rounded and large in size.

However, I think that it is not a problem if it is smaller than extend

[2017-03-20 14:47] tkanteck commented on #7
Hi deadcafe,
I don't fully understand why expanded keys should not be associated with an SA. An SA contains algorithm and key information and whenever key changes it has be expanded for the library purpose.
I am also not convinced that having pointers to expanded keys in gcm_data is essential. Please help me understand the use case here.

To me, the proposed change would only make sense if multipl

[2017-03-21 02:09] deadcafe commented on #7
Hi,

Since it seems to be efficient at the time of GMAC, I tried to separate HASH KEY from AES KEY, but that is not my Issue.

I want to handle CONTEXT separately from const KEY.
This is because there is no need to hold CONTEX AREA like the KEY of the SA.
Since SA has many numbers, the smaller one is preferred.
It might be possible to move CONTEXT into JOB.

#At the moment gcm_data is integrated i

[2017-03-21 18:51] tkanteck commented on #7
why not link SA with the gcm_data structure through a pointer? app could also define own structure with the key and gcm_data inside in order to keep it separate from the rest of SA. This would't require any library API changes.
Please provide reason to make the proposed change and explain how library users will benefit from it.

[2017-03-22 01:08] deadcafe commented on #7
struct SA {
  cipher_and_authentication_algorithm;
  struct {
    aes_expanded_key;
    hmac_or_xcbc_or_other_expanded_key;
    CRYPTO CONTEXT;
  } bundle_key;       /* == gcm_data */
  ...
};

Is it required to map CRYPTO CONTEXT here?
There seems to be an alternative way to map to other areas.
It expands the design choices of the program.

I prefer not to reserve CRYPTO CONTEXT and keys in conti

[2017-03-23 22:18] tkanteck commented on #7
Looking into least invasive but elegant solution to this problem. A few solutions possible. I'll come back with some proposals.

[2017-03-31 11:57] tkanteck commented on #7
Considered options:
1. Very much like the pull request https://github.com/01org/intel-ipsec-mb/pull/8
2. Mix of option 1 & current state so that applications using current API will not be broken
- new gcm_keys and gcm_context structures are created
- gcm_data doesn't change in terms of the content but uses the two new structures
- new API's added to work with the new structures (like 1 but differe

[2017-03-31 12:03] thbtcllt commented on #7
Yes it is correct. For me preserve old API is not important.

[2017-04-01 07:16] deadcafe commented on #7
Me too, old API is unnecessary.

[2017-04-03 07:43] sgmonroy commented on #7
No, it is not important to preserve the old API.

[2017-04-04 12:47] tkanteck commented on #7
Many thanks for your replies.

I am currently working on GCM optimizations which change GCM algorithmic code. It would be much easier to commit optimizations first and then apply the API change (~2 weeks time).

deadcafe, as to wrapping GCM under JOB_AES_HMAC API, since you applied this change in your fork could you measure performance degradation vs direct API model? This data would be helpful in

[2017-04-05 10:29] deadcafe commented on #7
OK, but now I am busy with private affairs and may take time.
Is it enough to simply measure the TSC/Bytes ?

[2017-04-05 11:26] tkanteck commented on #7
Sure, take your time. Perhaps, LibPerfApp code will come handy in measuring both API's - it reports cycles per buffer size. ipsec_diff_tool.py can be used then to translate this data into linear equation which makes comparing bit easier.
Thanks,
Tomasz

[2017-04-17 05:33] deadcafe commented on #7
Hi tkanteck,
I pushed the GCM_w_MB branch corresponding to ipsec_perf.
https://github.com/deadcafe/intel-ipsec-mb/tree/GCM_w_MB/PoC/LibPerfApp

It seems to be somewhat slow as it passes parameters with JOB structure.

[2017-04-24 12:48] tkanteck commented on #7
Hi deadcafe,
Thanks! it is expected to be slower - the question is how much.
I'll run on it on a few systems to determine the cycle increase.

[2017-05-08 23:28] tkanteck commented on #7
Thanks for your inputs. GCM API has been modified to decouple extended keys from the context.
See https://github.com/01org/intel-ipsec-mb/commit/46a9d9e4e116f7f183ac1458f920441a6dc28a4e

I am still due to run tests for code wrapping AES-GCM under job API.

In the meantime, one question about IV in AES-GCM. There was an idea to remove need for an application to allocate 16 bytes for IV and pad from

[2017-05-09 14:42] tkanteck commented on #7
Hi deadcafe,

As to wrapping GCM under job API. This what I see on one of my test systems using your fork:

NO      ARCH    CIPHER  DIR     HASH    KEYSZ   SLOPE A INTERCEPT A     SLOPE B INTERCEPT B
5       AVX2    GCM     ENCRYPT GCM     AES-128 0.80453 249.75258       1.08232 342.51895
6       AVX2    GCM     ENCRYPT GCM     AES-192 0.94058 251.00849       1.15474 356.84141
7       AVX2    GCM

[2017-05-10 08:39] deadcafe commented on #7
ok

[2017-05-16 01:49] deadcafe commented on #7
Hi tkanteck,

I also tried it(ipsec_perf --no-avx512 --shani-off  on E5-2697v3).
master vs PoC

589 SSE GCM ENCRYPT GCM AES-128 1.20788 218.80770 1.19862 293.48376
590 SSE GCM ENCRYPT GCM AES-192 1.33525 233.74176 1.33454 305.21961
591 SSE GCM ENCRYPT GCM AES-256 1.45537 248.10876 1.45610 325.81902
592 SSE GCM DECRYPT GCM AES-128 1.21061 196.94562 1.20771 276.20251
593 SSE GCM DECRYPT GCM AES-192

[2017-05-16 16:19] tkanteck commented on #7
Hi deadcafe,

This data looks reasonable to me. Did you change anything? or were my measurements simply off?
Could you create a patch that enables GCM under job API (not in PoC folder but on the main  job_aes_hmac.h & others)?
I'd like to merge it if no major performance impacts to non-GCM are detected.

Thanks,
Tomasz

[2017-05-17 06:01] deadcafe commented on #7
Hi tkanteck,

I fixed the following "PoC/LibPerfApp". The previous code is buggy. I'm sorry.
I think that it is necessary to divide the patch into several (ARCH handler, initializer, job scheduler).

[2017-06-08 09:26] kcmohanprasad opened #11 "symbol `vmovdqu32' redefined"
Hi,

I am trying to compile this code in Centos 7(3.10.0-514.10.2.el7.x86_64), getting this below error in .45 and .44 versions, is there any workaround for this issue
mb_mgr_hmac_sha_256_submit_avx512.asm:170: error: parser: instruction expected
mb_mgr_hmac_sha_256_submit_avx512.asm:171: error: symbol `vmovdqu32' redefined
mb_mgr_hmac_sha_256_submit_avx512.asm:171: error: parser: instruction expe

[2017-06-08 09:39] sgmonroy commented on #11
Hi,

What nasm version are you using?

Required tools:
- GNU make
- NASM version 2.12.02 (or newer)
- gcc (GCC) 4.8.3 (or newer)

Thanks,
Sergio

On 08/06/2017 10:26, kcmohanprasad wrote:

[2017-06-09 05:42] isoke commented on #11
Thank you for the reply.

Upgraded nasm and got it fixed, thank you

[2017-06-09 22:25] tkanteck commented on #11
thanks for the update and let me close this issue for now.

[2017-06-09 22:25] #11 closed

[2017-06-13 16:46] vbuslov opened #12 "Build failure on Debian Jessie"
Hello,

On Debian Jessie I have encountered following error during build:
`Making object file obj/sha1_x16_avx512.o
nasm -o obj/sha1_x16_avx512.o -felf64 -Xgnu -gdwarf -DLINUX -D__linux__ -Iinclude/ -I./ -Iavx/ -Iavx2/ -Iavx512/ -Isse/ avx512/sha1_x16_avx512.asm
avx512/sha1_x16_avx512.asm:466: error: invalid combination of opcode and operands
avx512/sha1_x16_avx512.asm:466: error: invalid combinat

[2017-06-13 16:49] vbuslov commented on #12
Sorry my mistake, it seems problem is nasm which is too old on my system.

[2017-06-13 16:49] #12 closed

[2017-12-28 10:45] tkanteck opened #16 "Segmentation fault obsereved when using HMAC-SHA512 or HMAC-SHA384 on AVX2"
The root cause is a typo in file avx2\mb_mgr_hmac_sha_512_flush_avx2.asm at line 130

[2018-01-08 11:36] #16 closed

[2018-02-13 21:14] Jean-Mick opened #17 "Document requirements for AVX512"
Hello,
Could you add to README which AVX512 set is required by algo ?
Only DES case is mentioned with AVX512F and AVX512BW.

Thanks

[2018-02-14 11:34] tkanteck commented on #17
Hello Jean-Mick,

Thanks for pointing it out. I looked into the code and the remaining AVX512 code (SHA1/SHA256/SHA512) requires AVX512F, AVX512BW and some instruction formats require AVX512VL. All of these AVX512 extensions are supported by latest Intel(R) Xeon(R) Scalable Processors.

I'll add these notes to README and assembly files. Let me keep this issue open until I do so.

Thanks,
Tomasz

[2018-03-01 10:44] tkanteck commented on #17
As part of the recent README update dfbb5800a26ef58dd709cc384cc8e711bca0105f, a note has been added about AVX512 extensions.
See here https://github.com/intel/intel-ipsec-mb/blob/master/README#L124.
If you find this information not sufficient or lacking some data then feel free to re-open this issue.
Thanks

[2018-03-01 10:44] #17 closed

[2018-03-01 14:16] ColinIanKing opened #18 "Possible executable stack in shared library"
When packaging the library for Debian/Ubuntu the lintian checker reports that the shared library stack is executable. The lintian warning is: shlib-with-executable-stack as follows:

"The listed shared library declares the stack as executable.

Executable stack is usually an error as it is only needed if the code contains GCC trampolines or similar constructs which uses code on the stack. One poss

[2018-03-01 15:26] tkanteck commented on #18
Thanks for reporting the problem. Since C compiler flags disable stack execution so the problem must be related to assembly files. I'll investigate the problem.

[2018-03-05 17:15] tkanteck commented on #18
I believe this patch fixes the problem. Feel free to reopen if required.
Thanks!

[2018-03-05 17:15] #18 closed

[2018-03-11 17:45] ColinIanKing commented on #18
Thanks, this fixes the issue for me and I've uploaded the fixed packed to Debian/Ubuntu.

[2018-08-10 21:02] mgoldshteyn opened #20 "The exported sha256_sse() function fails to properly hash blocks that are larger than 65536 bytes in size"
Note that this is true of all of the exported sha256_*() functions, not just the sse version. I am just using the sse version to demonstrate. I was hoping to use these functions to efficiently hash large files on an Intel based system, but if only blocks up to 64KB are supported for hashing, these functions are far less useful!

Here is a sample C++ program. You can try it on files that are <=6553

[2018-08-13 09:30] tkanteck commented on #20
Many thanks for rising the issue. These API's are exported only for IPsec usage when HMAC-SHAx is  used for authentication and key size is larger than SHAx block size.

These API's are not really optimized for performance because these potential HMAC key reductions are not frequent operations in IPSec.

For best SHA hash performance and handling of large files I would recommend ISA-L crypto librar

[2018-08-14 14:47] mgoldshteyn commented on #20
Hi Tomasz, I have believe you mean to use isa-l_crypto since isa-l only hash CRC type hashing. Unfortunately, I am having an issue getting the correct SHA256 hash out of that as well. Please see the following issue report: https://github.com/01org/isa-l_crypto/issues/14

[2018-08-15 17:06] ColinIanKing opened #21 "A few issues found with static analysis by CoverityScan"
These may be false positives or real issues, but CoverityScan has found some issues:

https://scan4.coverity.com/reports.htm#v30743/p15480

sha_one_block.c:

251                return;
252
   CID 308771 (#1 of 1): Out-of-bounds access (OVERRUN)
overrun-buffer-val: Overrunning buffer pointed to by ld of 32 bytes by passing it to a function which accesses it at byte offset 56.
253        sha_generic

[2018-08-20 14:50] tkanteck commented on #20
Correct, ISA-L crypto is the one that I pointed to.
I tried to reproduce the problem using snippet of the code above (thanks!) and I couldn't find any mismatch between OpenSSL produced hashes vs ipsec-mb.
Could you try to run again and help identify files that cause problems?

// sha256_test.cpp

#include <cstdint>
#include <fstream>
#include <intel-ipsec-mb.h>
#include <iomanip>
#include <iostrea

[2018-08-20 14:51] tkanteck commented on #20
Example output:

Processing ipsec_perf of size: 75456
IPSEC-MB:
00000000: db 8f 66 f8 72 8e d5 c6 62 a4 e7 97 2e d3 9a 7b | ..f.r...b......{
00000010: 3c 79 d0 04 03 9c b7 b9 12 4a a5 af a3 07 d2 c1 | <y.......J......
OpenSSL:
00000000: db 8f 66 f8 72 8e d5 c6 62 a4 e7 97 2e d3 9a 7b | ..f.r...b......{
00000010: 3c 79 d0 04 03 9c b7 b9 12 4a a5 af a3 07 d2 c1 | <y.......J......

[2018-08-21 08:34] tkanteck commented on #20
Plus output for the test files mentioned above. Maybe this is something specific to sha256sum tool
[code]
[code]

[2018-08-27 09:00] tkanteck commented on #20
I am closing the issue as ipsec-mb library and openssl produce same SHA256 hash values for the same buffers.
Feel free to re-open if new/more evidence is available.
Thanks,
Tomasz

[2018-08-27 09:00] #20 closed

[2018-08-30 14:09] tkanteck commented on #21
Thanks Colin! I have reviewed the results and made one pointer set up correction as the result.
See https://github.com/intel/intel-ipsec-mb/commit/d88c32c596b15560df46e792eb1fd9ca8e121628

[2018-08-30 21:47] tkanteck commented on #21
Thanks again and let me close this issue for now

[2018-08-30 21:47] #21 closed

[2018-10-02 11:58] pawelwod opened #22 "./LibTestApp/customop_test.h is executable"
Header files shouldn't be executable.

Thanks

[2018-10-04 08:43] tkanteck commented on #22
Thanks! Spotted two more files with executable flags. Fix is on the way.
Cheers

[2018-10-04 09:27] #22 closed

[2018-11-20 18:02] ColinIanKing opened #24 "building intel-ipsec-mb on Debian sid with NASM 2.14-1 produces negative-rep count warnings"
Building with NASM 2.14-1 throws up warnings (see far below in build output):

[code]

[2018-11-21 22:16] tkanteck commented on #24
Thanks! We haven't managed to switch to NASM 2.14 yet. The patch should fix the problem.

[2018-11-21 22:16] #24 closed

[2018-11-23 11:58] tkanteck opened #25 "Plain SHA384 and SHA512 return incorrect hash value for certain sizes"
Plain SHA384 and SHA512 return incorrect results for input sizes between 112 bytes and 120 bytes in the last SHA block (SHA384/512 block size is 128 bytes).
This is because of too small padding applied in the last block. It is 8 bytes and should be 16.

[2018-11-26 13:06] #25 closed

[2018-12-07 09:44] Jean-Mick opened #26 "NASM version requirement should be 2.14"
Hello,
I can see invalid opcode error when building on Ubuntu 18.04 where NASM is 2.13.02:
avx512/gcm_vaes_avx512.asm:4960: error: invalid combination of opcode and operand
It compiles fine with NASM 2.14, I think this version is required for vaesenc instructions.
Please confirm && update the doc!
Thanks,
Jean-Mickael

[2018-12-07 09:49] tkanteck commented on #26
Hello Jean-Mick,

Unfortunately this is expected because we started to use new VAES and VPCLMULQDQ in the code :) Please note NASM version requirement changed in README and minimum version required now is 2.13.03 or newer.

I think Ubuntu has already newer package for NASM available. If not please look at NASM web site https://www.nasm.us/pub/nasm/releasebuilds/?C=M;O=D

Thanks,
Tomasz

[2018-12-07 10:06] Jean-Mick commented on #26
My point is that README should tell >=2.14 instead of 2.13.03.

[2018-12-07 10:09] tkanteck commented on #26
2.13.03 will also do but 2.13.02 will not

[2018-12-07 10:38] Jean-Mick commented on #26
Oh ok got it now...thanks. And I confirm 2.13.03 works.

[2018-12-07 10:38] #26 closed

[2019-01-14 02:55] kingwelx opened #27 "AES-CMAC crashed in flush_job when msg_len_to_hash_in_bytes is <= 16bytes"

[2019-01-14 03:02] kingwelx commented on #27
Please check the call stack.As shown below, t looks like the rax is 0, when addressing job_rax + _auth_tag_output_len_in_bytes.

(gdb)
#0  0x00007fffb3086c04 in ..@208._copy_complete_digest () from /work/vpp/build-root/install-vpp-native/vpp/lib/vpp_plugins/ppfu_plugin.so
#1  0x00000000006eca00 in ?? ()
#2  0x00000000006ecbe0 in ?? ()
#3  0x00000000006f2b80 in ?? ()
#4  0x00000000006f2d40 in ?? ()

[2019-01-14 03:16] kingwelx commented on #27
This can be reproduced by the same code provided in the report. It probably only happens when calling flush_job, when there are very few jobs submitted. I tried submitting a bunch of jobs, but I cannot observe the crash – in this case, jobs will be completed by submit_job itself. So I think the key things here are:

1.	Length <= 16
2.	Only one job in lane to be completed by flush_job

Occasionally

[2019-01-14 03:19] kingwelx commented on #27
Tested on v0.51 and .52, same results.

[2019-01-14 09:51] tkanteck commented on #27
Thanks for reporting the problem. We'll have a look into it.

[2019-01-14 14:01] tkanteck opened #28 "LibTestApp fails with GCC 8.x for AESNI emulation code path"
A few facts about the issue:
- SSE, AVX, AVX2 and AVX512 code paths are fine
- LibTestApp reports failure for AESNI emulation code
- this cannot be reproduced with older GCC versions
- the issue only affects the code that emulates AESNI instructions (no feature support in the CPU).

Nature of the problem is not know at this stage and it is under investigation.

[2019-01-15 01:21] kingwelx commented on #27
Sorry for the mistake in the sample code, it should be like this to call flush_job for CAMC twice:

static int
do_test2 (MB_MGR *mb_mgr)
{
        uint32_t size;
        JOB_AES_HMAC *job;
        static uint128_t IV = {0,0};
        DECLARE_ALIGNED(uint32_t expkey[4*15], 16);
        uint32_t skey1[4], skey2[4];
        static uint32_t digest[3];
        uint128_t keys[15];
        static uint8_t

[2019-01-15 10:24] tkanteck opened #29 "LibTestApp segfault running AESNI emulation code only"
#### Steps to reproduce
./ipsec_MB_testapp  --no-avx512 --no-avx2 --no-avx --no-sse

#### Root cause
GCM function pointers were not populated in no-aesni MB manager initialization flow. Segmentation fault takes place in GCM tests.

#### Fix will be available shortly

[2019-01-15 13:05] #29 closed

[2019-01-16 13:56] tkanteck commented on #27
Hi Kingwel, could you verify that the patch fixes the problem please?

[2019-01-16 14:15] tkanteck commented on #28
Root cause of the issue is compiler using SSE instructions and XMM registers in AESNI emulation code. The registers clobber registers being used by assembly algorithm. This happens in newer compiler versions.

Fix for the issue will be available shortly.

[2019-01-16 15:41] mdcornu commented on #27
Hi Kingwel,

Thanks for reporting this issue.
It seems that the AES-CMAC flush function was overwriting the job lengths when the job size was less than 16 bytes. We will update the test application to cover this case soon.

Regards,
Marcel

[2019-01-17 11:00] #28 closed

[2019-01-17 14:25] tkanteck opened #30 "Obsolete check against specific chain order in NULL_CIPHER"
Remove obsolete check against specific chain order in NULL_CIPHER case.

[code]

[2019-01-20 10:04] kingwelx commented on #27
Test passed, no crash observed.

Many thanks!

Test code:

static int
do_test2 (MB_MGR *mb_mgr)
{
        uint32_t size;
        JOB_AES_HMAC *job;
        static uint128_t IV = {0,0};

        DECLARE_ALIGNED(uint32_t expkey[4*15], 16);

        uint32_t skey1[4], skey2[4];

        static uint32_t digest[3];
        uint128_t keys[15];
        static uint8_t buf[4096+20];
	for (size = 1; size <

[2019-01-21 11:00] tkanteck commented on #27
Thanks! closing the issue

[2019-01-21 11:00] #27 closed

[2019-01-24 00:12] #30 closed

[2019-02-28 12:35] kreuzerkrieg opened #31 "cant build master/0.52 on Ubuntu 18.04"
latest `NASM/GCC` from official repo of Ubuntu Bionic
running `make` and I get the following

Any ideas?

[2019-02-28 12:43] tkanteck commented on #31
What NASM version do you use?

[2019-02-28 13:06] kreuzerkrieg commented on #31
NASM version 2.13.02

[2019-02-28 13:07] kreuzerkrieg commented on #31
aggghhrr that minor version (03) difference?

[2019-02-28 13:17] tkanteck commented on #31
Yeah. New instructions that we need are not there in version 2.13.02.
Note that NASM 2.14 is already out
Cheers,
Tomasz

[2019-02-28 13:17] #31 closed

[2019-02-28 13:19] kreuzerkrieg commented on #31
Thanks!

[2019-03-11 10:40] pablodelara opened #32 "Incorrect expected chain order for AES-CCM"
Currently in the code, when performing AES-CCM, CIPHER_HASH chain order is expected when encrypting and HASH_CIPHER when decrypting.
This setting is wrong, since when encrypting on CCM, authentication needs to be performed first and encryption last, and the other way around whene decrypting.
Therefore, chain order needs to be reversed.

This means that all apps using CCM will need to be modified t

[2019-03-11 10:48] tkanteck commented on #32
Thanks Pablo.
At the time of CCM implementation the library didn't have chain order flexibility vs cipher direction. This has been added just recently and it makes sense to tidy up CCM implementation.

[2019-03-14 11:53] pablodelara opened #33 "Decryption when using CIPHER_HASH order does not produce right output"
When flushing a job decrypting before hashing (where hash operation is not completed, but decryption operation is), the buffer is again decrypted, producing an incorrect output.

Currently, the unit tests do not expose this issue, as this combination is not tested (chain_order = CIPHER_HASH, cipher_direction = DECRYPT, hash_alg != NULL_HASH). New tests will be added, testing this and other chained

[2019-03-15 16:45] tkanteck commented on #33
The patch fixes the reported issue

[2019-03-15 16:45] #33 closed

[2019-04-11 13:42] soroshsabz opened #34 "Porting build system to CMake"
ITNOA

Hi,

I think it is very good choice to port build system to popular cross platform build system who call is [CMake](https://cmake.org/), cause to remove platform specific build system and increasing maintainability and usage.

[2019-04-24 12:24] tkanteck commented on #34
Hi,
Perhaps CMake is very good tool but I am not familiar with it. Our current build system is certainly far from being perfect but it covers all required platforms & targets.
Feel free to create a patch enabling CMake builds for Linux (gcc) and Windows (Microsoft (R) Visual Studio C compiler) and we'll be happy to pick it up from there.
Thanks,
Tomasz

[2019-04-24 12:24] #34 closed

[2019-05-20 07:49] pablodelara commented on #32
Closing the issue, after AES-CCM implementation has been changed, so now HASH_CIPHER chain order must be selected when encrypting and CIPHER_HASH when decrypting.

[2019-05-20 07:49] #32 closed

[2019-05-30 13:59] tkanteck opened #35 "Planned change of key structure for AES-GCM"
# What is happening?
In the next release, it is planned to change GCM key structure to include larger number of ghash keys. As of today, the structure includes expanded AES keys, 8 schoolbook ghash keys  and 8 Karatsuba ghash keys.
# So what?
Note that this change will break GCM binary compatibility with previous versions of the library (v0.52 and older).
# What needs to be done?
Applications usin

[2019-07-21 17:08] ColinIanKing opened #36 "out-of-bounds read detected with static analysis on tmp.byte[]"
Static analysis on function shift_rows() in source no-aesni/aesni_emu.c has found a potential out-of-bounds read on an array.  The full coverity scan static analysis report is below:

251 static void shift_rows(union xmm_reg *dst, const union xmm_reg *src)
252 {
253        /* cyclic shift last 3 rows of the input */
254        int j;
255        union xmm_reg tmp = *src;
256
257        /* bytes to

[2019-07-22 08:42] mdcornu commented on #36
Hi Colin,

Thanks for highlighting.

This particular issue has been detected in the past and I believe this is a false positive.
Since both i and j will be in the range 0-3, the `wrap_pos()` function will ensure `wrap_pos(i+j)*4+j` will always evaluate to a value between 0 and 15.

Regards,
Marcel

[2019-07-30 08:58] mdcornu commented on #36
Closing this issue. Feel free to reopen again if necessary.

Regards,
Marcel

[2019-07-30 08:58] #36 closed

[2019-08-12 13:05] tkanteck commented on #35
Please also note that GCM key structure may have different content for different arch type (arch API).
For example, library cross validation tool required an update to separately expand keys for encrypt and decrypt operations (see https://github.com/intel/intel-ipsec-mb/commit/32f5a4438b29eb766ba0d1575fa6079bd2276af9)

[2019-11-03 00:17] #35 closed

[2019-11-22 10:07] tkanteck opened #40 "CentOS 7 & gcc4.8 compilation problem"
# What?
v0.53 may not compile with gcc versions < 5.0
# Workaround
'make -j EXTRA_CFLAGS="-msse4.2 -maes"
# Root cause
Architecture flags are not set for gcc versions older than 5.0

[2019-12-15 00:12] ColinIanKing opened #41 "uint128_t definition in /usr/include/intel-ipsec-mb.h clashes with /usr/include/bluetooth/bluetooth.h"
In /usr/include/intel-ipsec-mb.h uint128_t is defined as:

[code]

However, this clashes with other definitions of uint128_t such as the one in /usr/include/bluetooth/bluetooth.h, e.g:

[code]

This causes conflict when including these two header files.  Since uint128_t may in the future clash with an ISO C uint128_t native type it maybe better to rename the uint128_t in intel-ipsec-mb.h so it won

[2019-12-17 13:24] tkanteck commented on #41
Thanks Colin - we'll look into it

[2019-12-23 14:33] #41 closed

[2019-12-23 15:36] ColinIanKing commented on #41
Thanks for fixing this, much appreciated!

[2020-01-08 15:55] #40 closed

[2020-03-04 15:50] pablodelara opened #43 "Block count may be incremented incorrectly in AES-CTR"
AES-CTR algorithm used in IPSec (cipher_mode = AES_CNTR) uses a counter block with 4 bytes for block count, according to the following RFC: https://tools.ietf.org/html/rfc3686#section-2.1

AES-CTR algorithm used in PDCP (AES_CNTR_BITLEN) uses a block count with 8 bytes, according to section B.1.3 of the following document: https://www.etsi.org/deliver/etsi_ts/133400_133499/133401/14.05.00_60/ts_13

[2020-03-04 21:21] Bulat-Ziganshin commented on #43
The way I solved similar problem is to increment f.e. only 4 bytes, and provide high-level wrappers that deal with wrapping over 0 for each particular standard. I.e. a wrapper just calls low-level function in smaller chunks with a block count until overflow point

[2020-03-05 14:39] pablodelara commented on #43
Thanks @Bulat-Ziganshin ! We just solved the issue in the low-level functions, so I consider this issue closed. Let us know if you experienced this issue and this patch doesn't solve it completely.

[2020-03-06 09:42] tkanteck opened #44 "Removing NO_GCM compile option"
This is just to let you know that this compile option will be removed soon. There doesn't seem to  be any practical use of this option these days.

[2020-03-06 09:44] tkanteck opened #45 "Removing GCM_BIG_DATA compile option"
Performance of the default compile option is fine. No need to extend storage for extra GHASH keys.

[2020-03-09 09:30] #43 closed

[2020-03-09 13:03] tkanteck commented on #44
merged 654fa69e0b223d5670df155d1ca08d0bbd2a2c69

[2020-03-09 13:03] #44 closed

[2020-03-09 13:03] tkanteck commented on #45
merged 6ef77e5baba64e5cd2732816d563503b0506b63d

[2020-03-09 13:03] #45 closed

[2020-04-15 23:23] markueni opened #46 "Can this cryptographic library be used as IPSec endpoints in user space?"
Hi,

I am planning to use this software implementation for implementing an IPSec protocol between two of my ubuntu machines. One concern I have is that in the recieving machine  one my NICs (I have two physical NICs at both of them) is configured as DPDK interface naming dpdk0. So therefore I wonder if its possible to create an IPSEC in which the encrypted packets are recived through dpdk interfac

[2020-04-16 09:54] tkanteck commented on #46
Hello,

Many thanks for your email.

Yes, of course, it can be used for IPSEC in user space. For example, DPDK Security Gateway sample application does it - see details here https://doc.dpdk.org/guides/sample_app_ug/ipsec_secgw.html. However, this application does it indirectly but through DPDK cryptodev. This library is used as software crypto provider to DPDK cryptodev.

To 2nd part of your ques

[2020-04-21 14:58] tkanteck commented on #46
Let me close this issue. If you have any further questions then please re-open this issue or create a new one.
Thanks

[2020-04-21 14:58] #46 closed

[2020-04-27 16:54] pablodelara opened #47 "Wrong tag calculation on GCM/GMAC when AAD size >= 512 MB"
When doing AES-GCM/GMAC, if AAD size is equal or higher than 512 MB, the calculation of the tag is wrong. This issue has been root caused and a fix will be pushed soon.

[2020-05-05 19:17] mdcornu opened #48 "Potentially unsupported MOVBE instruction used in HEC compute API"
The MOVBE instruction used in SSE and AVX HEC compute API implementations may not be supported by older CPUs (e.g. Ivy Bridge or older Xeon CPUs).

[2020-05-08 09:44] #48 closed

[2020-05-08 09:45] #47 closed

[2020-05-12 10:23] ColinIanKing opened #49 "redundant assignment of bytes_left"
Static analysis with Coverity has detected an assignment that is not used In lib/include/snow3g_common.h in function snow3g_8_buffer_ks_32_8():

3280 if (bytes_left >= small_block_size) {
3281 const uint32_t blocks = bytes_left / small_block_size;
3282
3283 length_sub(lengthInBytes, num_lanes, blocks * small_block_size);

CID 98731 (#1 of 1): Unused value (UNUSED_VALUE)
assigned_value: Assigning v

[2020-05-12 10:25] ColinIanKing opened #50 "potential access of an uninitialized value"
Maybe a false positive but worth checking out: static analysis with Coverity detected a potential uninitialized scalar variable issue in lib/include/snow3g_common.h:

``
3225static inline void
3226snow3g_8_buffer_ks_32_8(const snow3g_key_schedule_t *pKey,
3227 const void * const IV[],
3228 const uint8_t *pBufferIn[],
3229 uint8_t *pBufferOut[],
3230 uint32_t lengthInBytes)
3231{
3232 const size_t

[2020-05-12 11:04] ColinIanKing opened #51 "Many errors when building with gcc-10"
Building with gcc-10 I get lots of build errors:

gcc-10 -v
Using built-in specs.
COLLECT_GCC=gcc-10
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/10/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none:amdgcn-amdhsa:hsa
OFFLOAD_TARGET_DEFAULT=1
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 10-20200425-1ubuntu2' --with-bugurl=file:///usr/share/doc/gcc-10/README

[2020-05-19 10:39] pablodelara commented on #51
Thanks @ColinIanKing  I tried to compile the library with gcc 10, but I don't see all these errors. Could you tell me where you got gcc 10 from? I am using Ubuntu 20.04 and I installed the gcc-10 package.

[2020-05-19 11:07] ColinIanKing commented on #51
gcc version 10.0.0 on ubuntu 20.10 (Ubuntu Groovy Gorilla (development branch), however, I've just moved to gcc 10.0.1 on the development branch and the issues have gone, so it may have been an issue with the gcc and/or glibc headers.  I'll mark this as closed as I cannot reproduce this now.

[2020-05-19 11:16] ColinIanKing commented on #51
This was with gcc 10.0.1 on Ubuntu 20.10 - Ubuntu Groovy Gorilla (development branch) - it may be an issue with the new toolchain and/or glibc though.

gcc-10 -v
Using built-in specs.
COLLECT_GCC=gcc-10
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/10/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none:amdgcn-amdhsa:hsa
OFFLOAD_TARGET_DEFAULT=1
Target: x86_64-linux-gnu
Configured with: ../src/configur

[2020-05-19 12:12] pablodelara commented on #49
Sure, thanks for reporting this. Will fix this shortly.

[2020-05-19 12:17] pablodelara commented on #50
Looks like this is a false positive, as snow3g_keystream_8_32(&ctx, ks) should update ks. @tkanteck , do you agree?

[2020-05-19 12:25] pablodelara commented on #51
I analyzed the errors and they don't make sense to me. I am building gcc 10.1 to see if I can reproduce some of them. The only one that I saw is the following (with gcc-10.0.1 on Ubuntu 20.04):

/usr/bin/ld: snow3g_test.o:test/snow3g_test.c:41: multiple definition of `vecList'; kasumi_test.o:test/kasumi_test.c:46: first defined here

I fixed this by removing these globla variables from snow3g_test

[2020-05-19 12:48] pablodelara opened #53 "Compilation issue when building with NASM 2.15RC0"
When compiling with NASM 2.15rc0, following compilation warnings can be seen in GCM code (affecting all architectures).

warning: single-line macro `MKGLOBAL' exists, but not taking 4 parameters [-w+macro-params-single]

[2020-06-03 21:44] #49 closed

[2020-06-03 21:45] pablodelara commented on #51
Hi @ColinIanKing, do you still see issues on gcc-10 after the changes that we have pushed?

[2020-06-04 10:06] ColinIanKing commented on #51
it's improved for sure so thanks for the improvements so far. Hit this issue:

[code]

[2020-06-04 10:47] tkanteck commented on #51
Thanks Colin. Could you please check if adding EXTRA_CFLAGS="-mpclmul" solve this problem with gcc10?

[2020-06-04 11:48] ColinIanKing commented on #51
FYI:

[code]

[2020-06-04 12:01] tkanteck commented on #51
The last one is weird. Is there any chance that there is a different version of the library installed somewhere in the system already? and wrong header file is picked up?

[2020-06-04 12:08] ColinIanKing commented on #51
Ah, I'll remove the installed library and rebuild

[2020-06-04 12:43] ColinIanKing commented on #51
OK, removed the libs + headers, rebuilt I get:

[code]

[2020-06-04 12:59] tkanteck commented on #51
It complains about use of intrinsic for pclmulqdq instruction ... problems like this remind me why I like programming in assembly :)
Could you please check if adding EXTRA_CFLAGS="-mpclmul" solve this problem with gcc10?

[2020-06-04 13:09] ColinIanKing commented on #51
Yep, now got a clean build \o/ thanks!

[2020-06-04 13:15] tkanteck commented on #51
Thanks a mil Colin! I'll add this flag for every arch in order to be on the safe side.

[2020-06-04 13:16] ColinIanKing commented on #51
No problem. I can now at least get it to the point where I can do some static analysis on the project again. BTW, is there a planned release coming up?

[2020-06-04 13:21] tkanteck commented on #51
Thanks! Looking forward to seeing results of the static analysis :)
No, the next release will be ~ start of Q4. Still plenty to implement before that.

[2020-06-04 13:25] ColinIanKing opened #54 "Uninitialized pointer reads on arrays pSrcData and pDstData"
Potential free's of uninitialized array elements in zuc_test(), test/zuc_test.c

Static analysis is reporting that accesses to arrays pSrcData and pDstData may be referencing elements that have not been initialized on the freePtrArray calls:

[code]

I suspect memset'ing these arrays at the start of the function is a simple fix.

[2020-06-04 13:40] ColinIanKing opened #55 "Memory leak of allocations pointed to by variant_list[i].avg_times"
In function run_tests in ipsec_perf.c any allocated avg_times buffers probably should be free'd before free'ing variant_list.  This is a moot point because _exit() is being called afterwards anyhow, but it's nice to clean up correctly to clean up static analysis warnings :-)

[code]
and the free'ing:

[code]

[2020-06-04 13:46] ColinIanKing opened #56 "Suggestion: maybe memset'ing job_template in do_test in /perf/ipsec_perf.c is a good idea"
Static analysis is producing some potential false positives on the job_template structure because it is allocated on the stack and all the fields are not being initialized.  Some of the test paths cause static analysis to complain about fields not being initialized.

For example:
[code]
and

[code]

[2020-06-04 14:04] ColinIanKing opened #57 "Possible cut-n-paste typo in snow3g_test.c"
Static analysis found a potential problem. I'm not 100% sure if this is a false positive or not, but I thought I should report it anyhow.

In function  validate_snow3g_f8_1_bitblock():

[code]

[2020-06-04 14:06] pablodelara commented on #53
Looks like there is a genuine issue on NASM 2.15, so closing this issue for now.

[2020-06-04 14:41] pablodelara commented on #53
Reopening the issue for now, until the issue is fixed on bugzilla:
https://bugzilla.nasm.us/show_bug.cgi?id=3392652

[2020-06-04 18:40] tkanteck commented on #50
Yes, @pablodelara it is a false positive. Yet it is always better to double check.
Many thanks @ColinIanKing for reporting it.

[2020-06-04 18:40] #50 closed

[2020-06-05 00:37] pablodelara commented on #53
And... it's fixed in NASM now :)

[2020-06-05 08:39] #53 closed

[2020-06-05 09:00] pablodelara commented on #54
Thanks for reporting it, @ColinIanKing. Will fix this shortly

[2020-06-05 09:17] pablodelara commented on #55
Thanks for reporting, @ColinIanKing. Will fix it shortly.

[2020-06-05 09:24] pablodelara commented on #56
Thanks for reporting this, @ColinIanKing. Will fix it shortly!

[2020-06-05 10:23] pablodelara commented on #57
This looks like a false positive, after analyzing the code. However, I will remove the comments in the middle of the function calls.

[2020-06-08 09:20] #51 closed

[2020-06-08 22:23] #57 closed

[2020-06-08 22:23] #56 closed

[2020-06-08 22:23] #55 closed

[2020-06-08 22:24] #54 closed

[2020-06-08 22:49] ColinIanKing commented on #54
Thanks!

[2020-06-09 10:30] pablodelara opened #58 "Windows compilation broken with DEBUG=y"
When compiling with MS Visual Studio 2015, with DEBUG=y, the compilation of the test applications fail due to undeclared "__func__":

api_test.c(51): error C2065: '__func__': undeclared identifier
api_test.c(61): error C2065: '__func__': undeclared identifier

[2020-06-26 15:45] #58 closed

[2020-07-01 15:01] mdcornu opened #59 "IMB_SNOW3G_F8_4_BUFFER() Direct API failing on Windows with VS2017+"
`IMB_SNOW3G_F8_4_BUFFER()` direct API tests fail on Windows when compiled using Microsoft Visual Studio 2017 or later with compiler optimizations enabled. Tests pass when compiled without optimizations.

Affected interfaces:
- AVX
- AVX2
- AVX512

This issue is currently being investigated.

Example ipsec_MB_testapp output:
[code]

[2020-07-16 13:53] ColinIanKing opened #60 "potential uninitialized data, may be false positive find by static analysis"
Not sure if this is a false positive, but static analysis by Coverity picked up a potential use of uninitailized data. Report is as follows:

/lib/include/kasumi_internal.h

[code]

[2020-07-17 11:47] pablodelara commented on #60
Looks like a false positive, safeInBuf will get always valid bytes from pcBufferIn, so it doesn't matter if it is not initialized.

[2020-07-18 00:52] kleirama opened #61 "Why all my requests get distributed in a single core in a scenario when I have 4 cores availble?Is that a IPSec bottleneck?"
Hei,
I am using this repository for a multi-threaded application. When I disable IPSec and send requests from a client to the server the requests got distributed (not uniformly though) to all the cores. Let say if I initiate 4 cores in server side then requests got distributed in all cores. When I do the same but with IPSec enabled all requests get distributed to a single core and the 3 other core

[2020-07-20 10:20] mdcornu commented on #61
Hi,

This behavior will depend on the application implementation.
The MB_MGR and the associated functions are not thread safe. To safely support multiple threads, each thread will need to allocate its own MB_MGR instance. If this is an "off the shelf" application, then it may be only support a single thread per tunnel.
If you are implementing your own application, please have a look at our [perfor

[2020-07-26 23:09] Martinfx opened #62 "Port for FreeBSD"
I made port for FreeBSD with patches but have small issue.

this is link for port and patches.
https://github.com/Martinfx/FreeBSD-Ports/tree/max-intel-ipsec/intel-ipsec-mb

[code]

[2020-07-27 11:40] tkanteck commented on #62
Hello @Martinfx

Many thanks for looking into it. Please do not change LINUX define in FreeBSD because it is spread all over the code and if missed in one place it will create segfaults.

At some stage, we'll rename LINUX define into SYSV or something similar. For now, please follow the compilation steps described [here](https://github.com/intel/intel-ipsec-mb#freebsd-64-bit-only)

No code changes

[2020-07-27 11:45] tkanteck commented on #61
In other words, in depends on ipsec stack as to how to distribute crypto operations among cores.
This functionality is not part of the library.

I am going to close this issue. Feel free to re-open if you have more questions or more clarification is required.

Thanks,
Tomasz

[2020-07-27 11:45] #61 closed

[2020-07-27 12:10] Martinfx commented on #62
Hello,
Tomas, with your recommendation with LINUX define is bad because i cannot compile this code.

[2020-07-27 12:37] tkanteck commented on #62
Could you provide shell output from the compilation to help debug the problem?

[2020-07-27 12:59] Martinfx commented on #62
[compile.log](https://github.com/intel/intel-ipsec-mb/files/4982133/compile.log)

[2020-07-27 13:51] tkanteck commented on #62
I noticed that the compile.log includes -D__FreeBSD__ changes. Could you try to compile without these patches? pull 0.54 code and compile with gmake ?

[2020-07-27 13:53] Martinfx commented on #62
I am this log from test [test.log](https://github.com/intel/intel-ipsec-mb/files/4982369/test.log)

[2020-07-27 13:59] Martinfx commented on #62
[code]

[2020-07-27 14:35] tkanteck commented on #62
thanks!
@pablodelara it seems cross validation tool compilation on FreeBSD fails because of malloc.h header. I guess it could be fixed with ifdef section for FreeBSD there. Could you have a look into it, please?

[2020-07-27 14:35] tkanteck commented on #62
@Martinfx in the mean time could you replace mallo.h with stdlib.h there and check if it compiles fine? thanks

[2020-07-27 21:52] Martinfx commented on #62
[code]

[2020-07-28 09:00] tkanteck commented on #62
thanks. we'll look into these issues with compiling perf app

[2020-07-30 09:46] pablodelara commented on #60
I'll close this, let me know if you disagree about it and we can reopen it.

[2020-07-30 09:46] #60 closed

[2020-07-30 10:10] ColinIanKing commented on #60
Sure, looks fine to me. Sorry about the false positive report wasting effort.

[2020-07-30 10:13] pablodelara commented on #60
No need to apologize! Thank you for reporting all this stuff, it really helps us!

[2020-07-30 14:59] ColinIanKing opened #63 "Found a bunch of spelling mistakes."
Found a bunch of spelling mistakes.  Probably should be fixed. I used "codespell" to find these.

./CONTRIBUTING:225: specifiying ==> specifying
./README.md:115: extentions ==> extensions
./README:122: extentions ==> extensions
./ReleaseNotes.txt:363: enqueing ==> enqueuing
./ReleaseNotes.txt:444: refered ==> referred
./ReleaseNotes.txt:542: algorith ==> algorithm
./test/direct_api_test.c:80: occu

[2020-07-30 16:29] pablodelara commented on #62
Hi @Martinfx . We have pushed some commits to fix FreeBSD/clang compilation. You can see here the 4 commits that are fixing the issues. Let us know if these fix the problem.

[2020-08-01 09:56] Martinfx commented on #62
@pablodelara Hi, i send next patch https://github.com/intel/intel-ipsec-mb/pull/64

[2020-08-01 10:27] Martinfx commented on #62
@pablodelara thank you for fixes but still library have issue. This is log from test.
[ipsec_MB_testapp.log](https://github.com/intel/intel-ipsec-mb/files/5010242/ipsec_MB_testapp.log)

[2020-08-04 07:10] Martinfx commented on #62
@pablodelara ^

[2020-08-04 08:50] pablodelara commented on #62
Hi @Martinfx . Thanks for the patch. I don't know how I could miss that #if in the previous patches. Apologies for that. We will merge your patch soon.

[2020-08-04 14:37] Martinfx commented on #62
@pablodelara Thank you.

[2020-08-04 15:48] pablodelara commented on #62
@Martinfx could you let me know which full name/email address you use in git, so I can change the author name in our internal repo?

[2020-08-04 16:20] Martinfx commented on #62
@pablodelara yes, i will send email to your email address on your github

[2020-08-05 16:05] pablodelara commented on #62
Hi @Martinfx . Unfortunately I cannot reproduce any of the issues you are showing. In the first issue, can you see the illegal instruction? You should be able to see it using "disassemble".

[2020-08-05 17:17] Martinfx commented on #62
@pablodelara I am sorry the issue is
[code]

[2020-08-05 17:48] pablodelara commented on #62
right, can that be fixed by replacing "#ifdef LINUX" on line 35
with  "#if defined (__linux__) || defined (__FreeBSD__)" , as you did in your pull request?
I cannot see this on my FreeBSD (same version as yours, 12.1).
Also, what about the illegal instruction that you were seeing with the test application? Could you get the instruction from disassemble? Make sure you run the application with --no-

[2020-08-05 18:21] Martinfx commented on #62
@pablodelara you had right
[code]

[2020-08-05 18:25] pablodelara commented on #62
Right, this happens because your CPU does not have AVX2, so passing --no-avx2 --no-avx512 should solve the problem :)

[2020-08-05 18:30] Martinfx commented on #62
@pablodelara I added next commits to pull request

[2020-08-05 18:32] Martinfx commented on #62
@pablodelara yes, i can disable AVX2 and problem is solved but your library this detection must detect automatic. This is bug.

[2020-08-05 18:36] pablodelara commented on #62
@Martinfx Actually, this is not a problem of the library, but maybe of the application, as it is the app's responsibility to initialize the manager, calling init_mb_mgr_ARCH.
Btw, is it really necessary to change #ifdef LINUX to #ifdefined (__linux__) || # defined (__FreeBSD__)? The first one should work... don't you see that happening?

[2020-08-05 18:40] Martinfx commented on #62
@pablodelara sometimes we have problem with  Undefined symbol "_aligned_malloc" on FreeBSD from github master.

[2020-08-05 19:10] Martinfx commented on #62
In my opinion is this bug on FreeBSD
[code]

[2020-08-05 20:30] tkanteck commented on #62
What CPU are you running the application on?

[2020-08-05 20:32] tkanteck commented on #62
Can you see the same problem if ipsec_MB_testapp runs with "--auto-detect" option?

[2020-08-05 23:15] Martinfx commented on #62
Yes, now this, is log
[test.log](https://github.com/intel/intel-ipsec-mb/files/5031673/test.log)

[2020-08-06 08:12] tkanteck commented on #62
Thanks! From the log I see the system you run the app on doesn't support AVX2 and the crash is expected.
For legacy reasons and for covering negative scenarios "--auto-detect" is not set by default. We'll see if there is something we can do about it.

[2020-08-06 11:55] Martinfx commented on #62
@tkanteck This detect is right with compile option SHARED=n but with option SHARED=y
is still bug in code.
[code]

[2020-08-06 21:32] tkanteck commented on #63
Many thanks Colin!

I think these solve the problem https://github.com/intel/intel-ipsec-mb/commit/b3ff135fba8ed324ff03ee3f062d89089028336b https://github.com/intel/intel-ipsec-mb/commit/719ef40d6fd66b8ad65ea0043193d07a5c237e16 https://github.com/intel/intel-ipsec-mb/commit/65cf71645db89ded7bac9e160315bbc4e9d42074 https://github.com/intel/intel-ipsec-mb/commit/9e1af9c0a4878ae255a777b8a677b57c37a54

[2020-08-06 21:32] #63 closed

[2020-08-06 22:45] pablodelara commented on #62
@Martinfx could you try again with the latest code from the repo, but making sure you clean the old .so? Also, make sure LINUX is still defined in the Makefile, and not replaced by FreeBSD

[2020-08-07 06:50] ColinIanKing commented on #63
Thanks for fixing these

[2020-08-28 11:47] lh1015 opened #65 "How to compile v0.54 with centos7 intel-icc?"
How to compile v0.54 with centos7 intel-icc?

[2020-08-28 12:01] #65 closed

[2020-08-28 12:36] tkanteck commented on #65
was it `make -j CC=icc` that here?

[2020-08-29 01:38] lh1015 commented on #65
Thank you for your replay!
Yes, i make v0.54 use make -j CC=icc,
Previous compilation failed maybe because memory is not enough,
After i cheate swapfile，compilation was successful.

[2020-09-02 08:45] pablodelara commented on #62
@Martinfx any update from your side? Can we close this issue?

[2020-09-03 22:36] tkanteck commented on #65
Thanks!

[2020-09-04 09:14] #62 closed

[2020-09-13 20:42] Martinfx commented on #62
@pablodelara yes, Thank you.

[2020-09-14 08:59] Martinfx opened #67 "FreeBSD compilation broken with SHARED=y"
When compiling with clang , with SHARE=y, the compilation of the test applications fail due to  Undefined symbol "_aligned_malloc"

[code]

[2020-09-14 11:40] #59 closed

[2020-09-14 11:57] pablodelara commented on #67
Hi @Martinfx , I don't see such issue. Can you make sure you are cleaning up any previously installed intel-ipsec-mb.h headers, by running "gmake uninstall"?
Thanks!

[2020-09-14 14:11] Martinfx commented on #67
@pablodelara I ran "gmake unistall" but without changes.

[2020-09-14 14:14] Martinfx commented on #67
@pablodelara I ran "gmake unistall" but without changes.

[2020-09-14 14:21] #67 closed

[2020-09-18 08:29] Martinfx commented on #62
Thank you for patches for FreeBSD. This is complete port https://www.freshports.org/security/intel-ipsec-mb/
M.

[2020-09-18 21:28] tkanteck commented on #62
Thanks @Martinfx ! this is great!

[2020-09-28 07:56] rider8581 opened #68 "Fill Job Fields"
I am developing a kind of ipsec gateway and using this library as a encryption/decryption engine.

I have to encrypt and decrypt the payload data based on configuration like following:

# SP IPv4 rules
sp ipv4 out esp protect 7 pri 1 dst 0.0.0.0/0 sport 0:65535 dport 0:65535

sp ipv4 in esp protect 8 pri 1 dst 0.0.0.0/0 sport 0:65535 dport 0:65535

# SA rules
sa out 7 cipher_algo aes-128-cbc \
cip

[2020-09-28 07:58] songhwa2019 commented on #68
I read the code of dpdk cryptodev, however, it is too difficult for me to use.
I have no dpdk installed and to customize dpdk code for my project is taking too much time....

[2020-09-28 09:01] tkanteck commented on #68
Please have a look here https://github.com/intel/intel-ipsec-mb/blob/master/test/chained_test.c to see example of programming interface for AES-CBC-128 HMAC-SHA1 that is identical to your configuration

[2020-09-28 09:25] songhwa2019 commented on #68
Thank you for your kind response.
Yeah, I checked it and it seems like the IV is manually set.
When I decrypt ESP packet, I need to get IV from ESP header.
https://github.com/intel/intel-ipsec-mb/blob/master/test/ipsec_xvalid.c
Do you think this example can get the IV from ESP header?
Or any other examples which can decrypt or encrypt the ESP packets?

[2020-09-28 09:37] tkanteck commented on #68
As to packet format, you may need to look into spec like this https://tools.ietf.org/html/rfc3602#section-3 or some example ipsec network stacks (example https://doc.dpdk.org/guides/sample_app_ug/ipsec_secgw.html).

The library is rather agnostic when it comes to the protocol above and it can be used with IPsec or TLS or something else.

[2020-09-28 09:42] songhwa2019 commented on #68
https://doc.dpdk.org/guides/sample_app_ug/ipsec_secgw.html
I checked and ran this example, however it is based on dpdk so I cannot use it for my project.
Please let me know if there are any other IPsec implementation based on intel-ipsec-mb.

[2020-09-28 09:43] tkanteck commented on #68
Right but you can have a look as to how IV is extracted from the packet.

[2020-09-28 09:46] songhwa2019 commented on #68
Yes, I know it. But it would take a lot of time to implement the ESP protocol by myself.
Please let me know if there are any examples of IPSec implementation based on intel-ipsec-mb. (without dpdk)

[2020-09-28 09:52] tkanteck commented on #68
I am aware of DPDK, VPP and 6Wind implementations

[2020-09-28 09:53] songhwa2019 commented on #68
Could you give me the reference of VPP and 6Wind?

[2020-09-28 09:56] tkanteck commented on #68
https://wiki.fd.io/view/VPP/IPSec
https://www.6wind.com/vrouter-solutions/6windgate/

[2020-09-28 10:37] songhwa2019 commented on #68
Thank you for your comment.
I checked the projects which you sent me, however, all those are big projects which cover their own memory management and I cannot use them because I have to run my application on Graphene-SGX(https://github.com/oscarlab/graphene).
I can capture the ESP packet and I need the **simple code** which can decrypt it and encrypt the plain-IP packets into ESP packets to respon

[2020-09-28 16:54] tkanteck commented on #68
Sorry but I am not aware of other samples other than the ones I shared earlier.
If you find something then please take a minute to post an update here. Thanks

[2020-10-01 10:45] tkanteck commented on #68
Let me close this issue. Feel free to re-open or post an update at any time.
Thanks

[2020-10-01 10:45] #68 closed

[2020-10-01 23:09] Martinfx opened #69 "freebsd: error: duplicate symbol: imb_errno"
Hello,
we have still issue on  version 0.54.3-dev and only 13.0-CURRENT

[code]

@pablodelara @tkanteck

[2020-10-02 12:47] tkanteck opened #70 "VAES DOCSIS encryption combined with CRC32 flush problem (13 or more jobs)"
Description:
Wrong CRC value is computed when 13 or more jobs are queued in OOO manager of different sizes. This problem occurs during flash operation. Problem seen when smallest job (out of 13) is 62 bytes or 142 bytes.
Some calculations for 62 byte case:
* 62 - 12 => 50 bytes to cipher (3 x AES block + 2 bytes)
* 62 - 4 => 58 bytes to authenticate/CRC in two chunks: 12 bytes + 46 bytes

Detected

[2020-10-06 12:26] #70 closed

[2020-10-07 17:04] pablodelara commented on #69
Hi @Martinfx . Apologies for the delay on the response. I was able to reproduce the issue, also on Linux, when using Clang-11.0.
We are working on a fix that we will push in the next day or two.

[2020-10-08 10:14] pablodelara commented on #69
@Martinfx fix has been pushed. Let us know if you see any further issues.

[2020-10-10 08:03] Martinfx commented on #69
@pablodelara Thank you.

[2020-10-13 09:41] pablodelara commented on #69
Let me close the issue and feel free to reopen it if you see any further issues.

[2020-10-13 09:41] #69 closed

[2021-01-14 12:04] tkanteck opened #71 "Change to IMB_GHASH() API"
**What**
We plan to change the API so it takes 6th argument pointing to current hash value.
This way the API will be able to carry a GHASH update operation.
If the pointer is NULL then the new API will behave as today (assume current hash value is zero).

**Impact**
Any application using this API will need to be modified to accommodate the change (at least pass 6th argument with NULL).
This requir

[2021-01-21 13:44] tkanteck commented on #71
OK - it doesn't look like change of this API is going to impact anybody.
It will be reworked in the next days. We may actually drop the concept of 6th argument and recycle authtag output pointer to be an in/out pointer.
Thanks for reading.

[2021-01-21 13:44] #71 closed

[2021-02-05 16:43] ColinIanKing opened #73 "static analysis warnings on today's tip"
Hi,

I just completed a build on today's tip with Coverity static analysis and it found some potential issues. I suspect these may be false positives, but I thought I should report them:

File:  lib/include/kasumi_internal.h

[code]

File: test/main.c:
[code]

File: lib/avx512/zuc_avx512_top.c

[code]

File: lib/avx512/zuc_avx512_top.c

[code]

[2021-02-08 17:09] tkanteck commented on #73
Thanks @ColinIanKing. I'll have a look into it

[2021-02-09 13:25] tkanteck commented on #73
- lib/include/kasumi_internal.h - seems to be false positive. No harm to initialize `safeInBuf` though
- test/main.c - false positive
-  lib/avx512/zuc_avx512_top.c - false positive

[2021-02-11 15:05] #73 closed

[2021-02-11 15:07] ColinIanKing commented on #73
Thanks for looking into these.

[2021-02-20 17:54] barby1138 opened #74 "RTE_CRYPTO_CIPHER_AES_CBC decrypt fails with pck size less 16 byte (block size)"
Hi,

Should I handle subj pck by some other way - else I have

Thread 1 "dpdk-crypto-app" received signal SIGSEGV, Segmentation fault.
0x00007ffff712b9af in aes_gcm_dec_256_sse () from /usr/lib/libIPSec_MB.so.0

Thanks

[2021-02-22 10:21] tkanteck commented on #74
Please note that AES-CBC is a block cipher that normally requires message size to be multiple of 16 bytes.

[2021-02-22 17:33] barby1138 commented on #74
Oh I see, thanks.

Czesch!!!

[2021-02-22 17:39] tkanteck commented on #74
if you can share snippet of code here then it may help narrow down the problem

[2021-02-22 18:54] barby1138 commented on #74
No the issue is solved - I had to pad the buffer to be multiple of 16 bytes.
But strange that I had problem only with not padded buffers < 16 bytes and only in DECRYPT,
but may be it just reproduced faster.

Thanks.

[2021-02-22 18:57] tkanteck commented on #74
Yep, in encrypt direction it would happen as soon as algorithmic code is executed (after 4, 8 or 16 submissions or after flush operation).
Glad to hear it is solved.
Closing the issue then. Cheers

[2021-02-22 18:57] #74 closed

[2021-04-16 16:50] ColinIanKing opened #75 "build errors when building on Ubuntu 21.04 Hirsute Hippo"
Just clone'd and tried a build and I'm getting build failures.

nasm version 2.15.05-1
gcc version 10.3.0-1ubuntu1

[code]

[2021-04-16 20:21] pablodelara commented on #75
Thanks @ColinIanKing for reporting this issue. We are looking into it and will fix it ASAP.

[2021-04-19 12:22] pablodelara commented on #75
This should be fixed now. @ColinIanKing, feel free to open it again if you face any other issues.

[2021-04-19 12:22] #75 closed

[2021-04-19 17:01] ColinIanKing opened #76 "potential uninitialized value error found by static analysis"
Static analysis has reported a potential issue, I'm not sure if it is a false positive.

File: lib/include/mb_mgr_code.h

[code]

[2021-04-19 17:05] ColinIanKing opened #77 "dead code warnings from static analysis on test/api_test.c"
Maybe a false positive, but I'm seeing some static analysis warnings in test/api_test.c

[code]

[2021-04-19 17:06] ColinIanKing opened #78 "deadcode warnings in perf/ipsec_perf.c"
Again, maybe intentional or a false positive, but I'm seeing static analysis warnings in perf/ipsec_perf.c

[code]

[2021-04-19 17:26] ColinIanKing opened #79 "potential logical error in if statements"
Static analysis picked up some potential logic errors in some if statements in test/api_test.c

[code]

and

[code]

and

[code]

[2021-04-19 17:43] ColinIanKing opened #80 "potential infinite for-loop"
In perf/ipsec_perf.c we have a pedantic static analysis issue.

Variable j is a uint16_t and imix_list_count is a uint32_t.  Static analysis is warning that j is too small and may never reach the imix_list_count value because it can wraparound back to zero before it reaches imix_list_count.   This probably won't happen in reality, but it may be worth making j a uint32_t.

[code]

[2021-04-19 17:46] ColinIanKing opened #81 "potential null pointer dereference if malloc fails."
OK, malloc never normally fails especially in test frameworks, but it can, so it's probably a good idea to add a malloc null pointer failure check.

In test/snow_v_test.c we have,

[code]

[2021-04-20 09:43] tkanteck commented on #76
Thanks Colin. This one is a false positive. This structure is set up in assembly code (call at line 454) that static analysis tool doesn't see here.

[2021-04-20 09:43] #76 closed

[2021-04-20 09:45] tkanteck commented on #78
seems that `case 3:` can be removed in this switch

[2021-04-21 09:05] #77 closed

[2021-04-21 09:06] #81 closed

[2021-04-21 09:06] #78 closed

[2021-04-21 09:06] #79 closed

[2021-04-21 09:06] #80 closed

[2021-04-23 12:12] ColinIanKing commented on #75
Thanks, perfect!

[2021-05-21 16:15] mdcornu opened #83 "Potential issue with mixed use of AES-CMAC-128 and AES-CMAC-256 algorithms"
Submitting mixed CMAC 128 and 256 jobs may lead to invalid results.
This is currently being investigated and will be address in upcoming patches.

[2021-05-21 16:16] mdcornu opened #84 "Potential issue with mixed use of AES-CCM-128 and AES-CCM-256 algorithms"
Submitting mixed CCM 128 and 256 jobs may lead to invalid results.
This is currently being investigated and will be address in upcoming patches.

[2021-06-01 08:13] blackbeam opened #85 "ipsec_perf_tool: Per-thread throughput for multiple threads"
Hi.

I see a slowdown when measuring throughput using the `ipsec_perf_tool` and I'm wondering whether this result is expected or I'm doing something wrong?

[code]

This is for 2048 buffer on 4 core 3GHz Xeon Gold (8 cores reported by `/proc/cpuinfo`).

My commands:

[code]

[2021-06-01 10:07] tkanteck commented on #85
Thanks for reaching out.

Please note "--quick" option doesn't produce accurate data. Removing this option will result in more accurate results.

In step 1, the scripts kicks off AEAD algorithm tests on selected hardware threads. If two hardware threads on the same core are selected performance is expected to drop vs two threads on two cores. In aggregate two threads on one core 1C2T give slightly

[2021-06-02 22:07] blackbeam commented on #85
Hi, thanks! This clarifies things a lot.

Now, since CPUs are properly selected, I see no performance penalty for xCxT scenarios.

The CPU is 3GHz Xeon Gold on Oracle Cloud's `VM.Optimized3.Flex` instance with 4 CPUs. Turbo boost is off.
`lscpu` shows the following picture:

[code]

I'm not sure why, but I couldn't reproduce the reported results.
Previous `VM.Optimized3.Flex` instance was terminat

[2021-06-02 23:37] edtubbs opened #86 "Generic SHA one block initializes digest"
https://github.com/intel/intel-ipsec-mb/blob/857ba1c0ec32088bfe7413de9da69fb3494a6692/lib/include/sha_generic.h#L311

This call to init overwrites any digest passed by reference by the caller of the function.  Suggest removal to support references of an initial digest.

[2021-06-03 07:56] tkanteck commented on #86
This SHA API usage is limited to a few use case and this is why digest is always initialized.
Would multi-buffer SHA implementation with asynchronous API fit into dogecoin application? It is lot faster than the single buffer one.

[2021-06-03 08:02] tkanteck commented on #85
Thanks Anatoly! VM environment explains a lot here.

It seems that only in 4c8t configuration performance drop is observed. Other than that the results were pretty much the same - normally it would be expected. However virtual cpu's may be mapped in a random way to processor hardware threads. As the mapping changes so the results will change too.

Do you have any control over virtual cpu mapping o

[2021-06-03 13:51] edtubbs commented on #86
@tkanteck “_one_block_” inline functions fit into the dogecoin mainnet fairly easily with this change.  Is there an equivalent in the asynchronous API you’d recommend?

[2021-06-03 15:23] tkanteck commented on #86
Thanks Ed

Did you consider using openssl SHA API? Not that I want to divert you away from intel-ipsec-mb but the single buffer SHA compute part is not fully optimized in our library. We mainly use it for key reduction where performance is not critical.

OpenSSL has pretty well optimized SHA single buffer implementations and it will also take advantage of SHANI extension. We don't leverage this ex

[2021-06-03 16:19] edtubbs commented on #86
Thanks Tomasz.  I think I will try openssl SHA1.  I am interested in the HMAC and SHA quad/dual implementations in intel-ipsec-mb, are they all highly optimized as well?

https://github.com/intel/intel-ipsec-mb/blob/857ba1c0ec32088bfe7413de9da69fb3494a6692/lib/sse/sha1_mult_sse.asm
https://github.com/intel/intel-ipsec-mb/blob/857ba1c0ec32088bfe7413de9da69fb3494a6692/lib/sse/sha_256_mult_sse.asm
ht

[2021-06-03 16:49] tkanteck commented on #86
Thanks. I think openssl may be a better fit for dogecoin application.

Yep, the links point to multi-buffer SHA implementations for SSE architecture that are used under HMAC scheduler.

Plus the SHANI implementations for SHA1 and SHA256:
https://github.com/intel/intel-ipsec-mb/blob/master/lib/sse/sha1_ni_x2_sse.asm
https://github.com/intel/intel-ipsec-mb/blob/master/lib/sse/sha256_ni_x2_sse.asm

[2021-06-03 17:05] edtubbs commented on #86
I think I agree; not all chipsets support the SHA (NI) extension though, right?  Multi buffer implementations of SHA transforms that use streaming and/or vector instructions seem ideal.

[2021-06-04 08:31] #83 closed

[2021-06-04 08:31] #84 closed

[2021-06-05 08:03] blackbeam commented on #85
Oracle claims that 1 OCPU is identical to a 1 physical core with hyper-treading, but I'm unable to reserve the VM resources (not sure why, though). Also I'm unable to create a bare metal instance (due to my Oracle Cloud account limits). I've requested a service limit increase and I'll share the results if It'll be approved.

Currently it seems that performance drop is proportional to num_of_perf_t

[2021-06-08 08:02] tkanteck commented on #85
Negative numbers typically indicate that collected performance samples are not linear. Running tests for longer may eliminate this issue

[2021-06-28 16:10] tkanteck commented on #85
Let me close this issue. Feel free to re-open if there is any update.

[2021-06-28 16:10] #85 closed

[2021-10-09 11:56] ColinIanKing opened #88 "build failure main.c:104:19: error: ‘IMB_FEATURE_BMI2’ undeclared (first use in this function); did you mean ‘IMB_FEATURE_CMOV’?"
Building from head commit 9f3e9eb4a1cf0ec6f5d7d77e5c56d729c3f1cc05

lsb_release  -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu Impish Indri (development branch)
Release:	21.10
Codename:	impish

 gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/11/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none:amdgcn-amdhsa
OFFLOAD_TARGET_DEFA

[2021-10-09 13:36] pablodelara commented on #88
Hi @ColinIanKing! Could you double check if you have another version of the library already installed?
It sounds like you might have another header file that does not have IMB_FEATURE_BMI2 (the one in the repo does have it).
I don't have access to Ubuntu 21.11 dev or gcc 11, but I'd say the environment is not the problem.

[2021-10-09 13:39] #88 closed, assigned to nobody

[2021-11-03 10:43] pablodelara opened #89 "Rename master branch to main"
The default branch will be renamed from "master" to "main" branch, following the industry trend, to use a more inclusive language.
Further details will be posted in the next days.

[2021-11-09 17:59] pablodelara commented on #89
The default has been renamed to main. For anyone that had already cloned the repo, follow these steps to migrate your local repo:

# Switch to the "master" branch:
$ git checkout master

# Rename it to "main":
$ git branch -m master main

# Get the latest commits (and branches!) from the remote:
$ git fetch

# Remove the existing tracking connection with "origin/master":
$ git branch --unset-upstr

[2021-11-09 19:27] tkanteck commented on #89
Alternatively clone the repo from scratch

[2021-11-10 10:44] klem23 opened #90 "Performance degradation with AES cipher on Intel Xeon D-1548 (Broadwell) CPU"
Hi,

I encounter a slight performance loss (~10%) with AES cipher (cbc & ctr) on Intel Xeon D-1548 (Broadwell arch -> avx2) accross intel-ipsec-mb version from 0.52 to 1.1.
I notice the problem when updating DPDK (19.11.2 -> 20.11.3) and then investigate with different intel-ipsec-mb version.
So I finally run your perf tools with several versions and confirm my observation. The results are at the

[2021-11-10 11:02] pablodelara commented on #90
Hi @klem23. There are new security parameters that were introduced after version 0.52: SAFE_PARAM, SAFE_DATA and SAFE_LOOKUP (see section 6 or README file). The first two will affect the performance of any algorithm, so could you compile the library disabling them, with the following command line:
make SAFE_DATA=n SAFE_PARAM=n

Please, also read section 6 to know the implications of disabling such

[2021-11-10 14:10] klem23 commented on #90
Thanks a lot for the information. I will double read the README.

[2021-11-10 14:10] #90 closed

[2021-12-05 17:29] ldonzis opened #91 "Fails to compile properly on FreeBSD"
On FreeBSD (I'm using 13.0, but I don't think it matters), the Makefile incorrectly detects the system as being Windows, due to this:

MINGW ?= $(shell $(CC) -dM -E - < /dev/null | grep -i mingw | wc -l)

The output of "wc -l" contains leading spaces, and this causes the "ifeq" statements to mismatch because the value is not actually zero, but rather, the string "       0".  There are several ways

[2021-12-07 13:27] pablodelara commented on #91
Hi @ldonzis. Many thanks for flagging this issue! I was able to reproduce it and I can confirm that your fix works. I will submit the fix soon. Could you give me your details (name and email address), if you are OK with me adding you as the author of the fix.

[2021-12-17 09:22] #91 closed

[2022-01-03 07:13] diizzyy opened #94 "Latest release 1.1 doesn't compile on FreeBSD 13"
Hi,

Unfortunately it doesn't anymore and just adding the same definitions as for Linux  doesn't seem to work. It would be appreciated if someone could take a look at it.

[code]

Best regards,
Daniel

[2022-01-04 08:34] pablodelara commented on #94
Hi @diizzyy. Thanks for flagging this. We have a fix for this that we will push today.

[2022-01-04 10:52] pablodelara commented on #94
@diizzyy, fix pushed! I will close this issue, but feel free to reopen it if needed.

[2022-01-04 10:52] #94 closed

[2022-01-05 18:06] diizzyy commented on #94
Confirmed working, thanks!

[2022-01-10 09:37] sdhzdmzzl opened #95 "support SM3 or SM4？"

[2022-01-11 09:26] tkanteck commented on #95
No support for them at the moment. We are planning to add them.

[2022-01-14 15:44] tkanteck opened #96 "CRT CF Guard issue on Windows"
If compiler supports [`/guard:cf`](https://docs.microsoft.com/en-us/windows/win32/secbp/control-flow-guard#how-do-i-tell-that-a-binary-is-under-control-flow-guard) option then library and application compilation leverages this extension and generates CET compatible binary.

However, when [testing the binary with Intel(R) SDE](https://www.intel.com/content/www/us/en/developer/articles/technical/emu

[2022-01-19 21:52] riveridea opened #97 "how about the performance if my application uses this lib in synchronous way?"
It is recommended to apply this lib in a asynchronous way as I see in the document and guide. Is it because the parallelization is only achieved in processing mulit-jobs? If so, how about the if I use it in synchronous way, i.e., submit a job and wait for the job to be completed before submitting next job in my application. Is it working and how about the performance compared with the OpenSSL sing

[2022-01-20 08:35] tkanteck commented on #97
Yes, it is possible to submit and job and request it back (`flush()` api) and it is expected to be suboptimum for multi-buffer implementations.
It is possible but unfair to compare single buffer implementation vs multi-buffer one because they are designed in a different way.
The name of the library includes "multi-buffer" keyword but not all algorithms are implemented using this innovation. If par

[2022-01-20 14:57] riveridea commented on #97
Thanks for the prompt response. The algorithm I am concerned is the HMAC_SHA1 and it is currently already running on the OpenSSL in a synchronous mode, but I do want to see how much the whole application can be accelerated if turning to this library.
More questions:
1. Are there any existing examples in this repository show how the asynchronous mode is actually working? Just want to confirm my und

[2022-01-22 16:49] tkanteck commented on #97
What about running `openssl speed` and `perf/ipsec_perf` applications and comparing the results using same units (throughput or cycles per buffer)? This is wiki page on using ipsec_perf: https://github.com/intel/intel-ipsec-mb/wiki/LibPerfApp

Example async CBCS code is here https://github.com/intel/intel-ipsec-mb/wiki/MPEG-CENC-in-CBCS-mode#sample-application

Yes, there is some scheduling involv

[2022-01-22 16:50] #95 closed

[2022-01-22 21:44] riveridea commented on #97
thanks for these great information.

[2022-01-27 13:07] tkanteck commented on #97
how is the hmac-sha1 benchmarking going? any help needed?

[2022-01-27 13:14] tkanteck opened #98 "AESNI emulation code not to be compiled in by default"
AESNI emulation implementations are based on the SSE ones. They replace AESNI and PCLMULQDQ instructions with adequate macros. This method of supporting platforms without these CPU extensions is simple and functional. However, it significantly increases library footprint and compilation time. Most users don't need this functionality anyway.

The plan is to:
- disable compilation of AESNI emulation

[2022-01-27 15:11] tkanteck commented on #97
Hyper threading is technology that uses single physical core resources to drive two logical architectural states. Consequently, if both threads on the same core run crypto operations then each thread produces roughly 50% of the throughput of the single core single thread (1C1T). On aggregate, two threads typically give slightly better throughput through slightly better core utilization.

As of tod

[2022-01-31 20:56] riveridea opened #99 "AESNI MB PMD in DPDK 20.11 has issue in supporting multiple process, leading to crash in intel-ipsec-mb"
https://github.com/intel/intel-ipsec-mb/blob/a6008dbddf15a397ecc2cafb7f0a00d69ebf8037/lib/avx512/mb_mgr_avx512.c#L1870

I find my code always crashes on accessing the sha1_one_block whose value is assigned here.
As sha1_one_block_avx512 is the function name, I am wondering we should change this line to
state->sha1_one_block = &sha1_one_block_avx512;

I am verifying if this is an issue. But what co

[2022-01-31 22:21] riveridea commented on #99
This could be the DPDK PMD drier issue. I am looking into it.

[2022-02-01 08:25] tkanteck commented on #99
Perhaps there is some issue with initialization

[2022-02-02 03:02] riveridea commented on #99
I will close this issue. It seems to be device management issue in DPDK, the mb_mgr address is contaminated.

[2022-02-02 03:02] riveridea commented on #99
close it.

[2022-02-02 05:47] riveridea commented on #99
I think my issue is related to this thread: https://review.spdk.io/gerrit/c/spdk/dpdk/+/1056

[2022-02-02 05:49] riveridea commented on #99
AES MB PMD is created successfully on one of my process, but I found the mb_mgr address is surprisingly contaminated after vdev_action runs on that process.

[2022-02-03 00:23] riveridea commented on #99
I am currently using DPDK 20.11, and i am wondering if there is bug in the rte_aesni_mb_pmd.c
In cryptodev_aesni_mb_create(), when allocating the mb_mgr, it does to check if this is primary process or secondary process. So if the secondary process lauch the scan/probe and create the pmd, the internals->mb_mgr could be updated by a new allocated mb_mgr.
I changed the code to allocate he mb_mgr only

[2022-02-03 09:54] tkanteck commented on #99
If I remember correctly primary/secondary DPDK model is intended for failover scenarios only.  For multi-core processing crypto scheduler PMD should be used.
@pablodelara can you point to some example code covering failover?

[2022-02-03 15:44] riveridea commented on #99
No matter what the primary/secondary processes are used for, the thing is I only explicitly init the aesni_mb device on my primary process. The secondary process implicitly triggers the device probe by the scan/probe procedure. And at the same time, the aesni_mb pmd in DPDK 20.11 has the bug I mentioned above. Then the memory crashes on primary process once the packet process tries to access that

[2022-02-06 02:38] riveridea commented on #99
Update the title and close it as this is DPDK issue.

[2022-02-06 02:38] #99 closed

[2022-02-11 17:34] riveridea commented on #97
I reported a DPDK aesni_mb PMD bug here https://bugs.dpdk.org/show_bug.cgi?id=935
With this bug, the submitted jobs from the aesni_mb PMD cannot be parallel processed by the intel-ipsec-mb library. @pablodelara Could you help to have a look at this issue.

Sorry for post this issue here as I see no response of this issue in DPDK bugzilla.

[2022-02-11 19:35] pablodelara commented on #97
Apologies for not replying earlier. I will look at this bug as soon as I can, thanks for reporting it!

[2022-02-14 16:33] #89 closed

[2022-02-14 16:34] tkanteck commented on #98
closing this announcement

[2022-02-14 16:34] #98 closed

[2022-02-18 14:31] tkanteck opened #100 "AES-ECB JOB check misses decryption key pointer"
JOB structure check for AES-ECB only [validates encryption key pointer field](https://github.com/intel/intel-ipsec-mb/blob/main/lib/include/mb_mgr_code.h#L1443).
However, on decrypt direction [decrypt key pointer field](https://github.com/intel/intel-ipsec-mb/blob/main/lib/include/mb_mgr_code.h#L164) is used.
Consequently, if JOB is set up incorrectly for decryption then such error will not be cau

[2022-02-22 22:12] riveridea commented on #97
@tkanteck My recent evaluation shows the twice faster of the HMAC_SHA1 if I gather 16 packets to submit to this library as I see the AVX512 based SHA1 implementation is trying to collect 16 lanes data before performing the SHA1 computing if not using flushing.
I have a question, as the comparison, the single buffer OpenSSL implementation is used. However it seems the OpenSSL also supports somethin

[2022-02-23 10:39] tkanteck commented on #97
Are you referring to this implementation https://github.com/openssl/openssl/blob/master/crypto/sha/asm/sha1-mb-x86_64.pl? It looks like AVX2 multi-buffer implementation. Sorry but I don't know how this code path can get executed through `openssl speed` - it may require some recompilation.
Our library also supports AVX512 SHA1 multi-buffer implementation that delivers better throughput over AVX2 ve

[2022-02-23 16:42] riveridea commented on #97
Yes, exactly what I was talking about. I agree with you that OpenSSL
implementation only has AVX2 supported. The other difference is I did not
find how to get that OpenSSL multi-block integrated to DPDK framework,
especially in asynchronous mode.
The reason why I am also pursuing the possible implementation over this
OpenSSL impl, is because the intel-ipsec-mb has no FIPS certification.
Please cor

[2022-02-23 17:52] tkanteck commented on #97
I doubt that DPDK PMD leverages this OpenSSL multi-buffer SHA1 implementation but please feel free to check with them.

As to FIPS, you are correct intel-ipsec-mb doesn't have such certification. Also it doesn't fulfill requirements for CMVP certification. We are working on CAVP validation and certification (see new cavp test app added in v1.2) - WIP.

[2022-03-03 11:18] #100 closed

[2022-03-21 11:56] pablodelara opened #102 "Incorrect ZUC initialization when 23-byte IV is used"
When using 23-byte IVs on ZUC-256, the IV is not expanded correctly into 25 bytes, used in all implementations, making the ZUC initialization to fail. There was a 23-byte vector in the test, but its IV was all 0xff's, so it was expanding correctly, but when the IV is completely random, the expansion is incorrect.

[2022-03-31 09:51] tkanteck commented on #97
Any update here?

[2022-03-31 19:06] riveridea commented on #97
No update on my side. Actually I am interested in the CMVP progress for this lib in Intel. It will be good if Intel can finish the certification.

[2022-04-07 17:17] pablodelara opened #104 "SNOW3G 8-buffer keystream generation might be incorrect"
When generating keystream for 8 different buffers, using AVX2 or higher architecture, the keystream generated for buffer 1 is output to be XOR'ed to plaintext of buffer 0 and viceversa, on encryption. Same for buffers 2&3, 4&5 and 6&7.
The following API's are affected:
- IMB_SNOW3G_F8_8_BUFFER
- IMB_SNOW3G_F8_8_BUFFER_MULTIKEY
- IMB_SNOW3G_F8_N_BUFFER
- IMB_SNOW3G_F8_N_BUFFER_MULTIKEY

[2022-04-07 17:55] #102 closed

[2022-04-08 15:23] tkanteck commented on #97
CMVP cannot be done on this library at the moment as it doesn't fulfill technical requirements for it.
ACVP (or CAVP) effort is in progress.

[2022-04-11 16:11] #104 closed

[2022-04-20 11:26] tkanteck commented on #97
If there is no update on the performance side then I'd like to close this issue.

We'll keep informing about CAVP progress through announcements

[2022-04-20 16:13] riveridea commented on #97
@tkanteck  Yes Please close it.

[2022-04-20 16:13] #97 closed

[2022-07-01 10:10] tkanteck opened #106 "Fuzz test application compilation issue"
On some system there appear to be an issue with compiling one of the test applications which manifests itself with linking problem like this:
[code]
In such case please run `make -j -k`  to make sure that compilation process attempts to compile as much as possible despite the error.
The library doesn't depend on the test application and is 100% usable without it. `make install` is expected to run

[2022-07-21 15:05] tkanteck commented on #96
It turns out that MSVC is not producing endbranch opcodes and it implements control flow enforcement in a different way.

https://techcommunity.microsoft.com/t5/windows-kernel-internals-blog/developer-guidance-for-hardware-enforced-stack-protection/ba-p/2163340
https://techcommunity.microsoft.com/t5/windows-kernel-internals-blog/understanding-hardware-enforced-stack-protection/ba-p/1247815

As the

[2022-07-25 09:49] tkanteck commented on #96
https://github.com/intel/intel-ipsec-mb/commit/2f7e890c0a7ed66b019189450e8312ecd850b907

[2022-07-25 09:49] #96 closed

[2022-08-09 08:46] pa5h1nh0 commented on #98
Hi @tkanteck, not sure if this is the best place to discuss the following: I am facing an issue where the application using this library segfaults due to the host's CPU lack of AES-NI instruction set. Is there any specific compile option to build also the "software" AES-NI emulation? FYI, I'm using this library indirectly via DPDK's [AES-NI PMD](https://doc.dpdk.org/guides/cryptodevs/aesni_mb.html

[2022-08-09 08:48] pablodelara commented on #98
Hi @pa5h1nh0. You should compile with "AESNI_EMU=y". Re DPDK, I don't think any changes are required.

[2022-08-09 09:12] pa5h1nh0 commented on #98
Hi @pablodelara, thanks for replying. Does this mean that I'd need to build two DPDK libraries? One for hosts supporting the AES-NI instruction set (so with "AESNI_EMU=n"), and one for hosts without it (i.e. with "AESNI_EMU=y")?

[2022-08-09 09:39] pablodelara commented on #98
Hi @pa5h1nh0. No, when AESNI_EMU=y, everything is supported. For machines supporting AES-NI, it will use the implementation using AES-NI and for machines not supporting AES-NI, it will use the emulated instruction implementation.

[2022-08-09 13:03] tkanteck commented on #98
AESNI emulation is very slow. It is very difficult to find system that doesn't support AESNI these days ;) It's broadly available since ~10 years. There could be a BIOS option that switches these extensions off - it may be worth checking it. If this is a virtual environment then there may be a VM misconfiguration (AESNI not supported).

[2022-08-31 14:04] tkanteck commented on #106
After some investigation the issue couldn't be replicated with any standard clang installation.
In order to replicate the problem one of the libraries in question had to be renamed or removed. This leads to conclusion that if the issue appears then the clang installation seems to be broken.

Running `make -j -k` is the advised solution in this case.

[2022-08-31 14:04] #106 closed

[2022-09-14 15:03] tkanteck opened #107 "AES-CCM authentication flush may load out of scope data"
On AES-CCM authentication, NULL lanes can load out of scope data that in some scenarios may lead to segmentation fault, i.e.:
- flush operation on a min length lane not processed yet (AAD + block 0 to be done)
- big packet size on a valid lane
- specific memory layout: invalid memory after IMB_MGR structure

Potential out of scope data being loaded is subject of CBC-MAC computation (not copied or

[2022-09-15 15:09] #107 closed

[2022-10-28 19:49] tkanteck opened #108 "CAVP certificate for release v1.3"
More details here: [Cryptographic Algorithm Validation Program CAVP Intel® Multi-Buffer Crypto for IPSec](https://csrc.nist.gov/projects/cryptographic-algorithm-validation-program/details?product=15442)

[2022-10-31 17:50] riveridea commented on #108
Great! And is the next step to submit the CMVP? Thanks,

[2022-11-01 10:57] tkanteck commented on #108
Thanks! The library doesn't fulfil technical requirements for CMVP validation and certification. At this stage, it is CAVP only.

[2022-11-07 15:04] ColinIanKing opened #109 "hazardous use of memcpy on overlapping memory"
memcpy is being used with an overlapping copy operation, perhaps memmove() should be used instead.

static analysis with cppcheck throws the following warning:

lib/avx512_t1/zuc_top_avx512.c:759:25: error: Overlapping read/write in memcpy() is undefined behavior [overlappingWriteFunction]
                        memcpy(keyStr32, &keyStr32[16], 64);

[2022-11-07 15:08] ColinIanKing opened #110 "lib/no-aesni/zuc_top_sse_no_aesni.c - variable L is being set and modified but not read"
Static analysis with cppcheck has found two uses of variable L where it is being set and modified but it is never read, suggesting it is redundant and can be removed.

[code]

[2022-11-07 16:41] pablodelara commented on #109
Thanks @ColinIanKing. I will take a look at this!

[2022-11-07 16:41] pablodelara commented on #110
Thanks @ColinIanKing. I will take a look at this!

[2022-11-21 20:21] tkanteck commented on #110
ea5e82c7886ebdc6aa76c197731b612875a8d9cc fixes the problem

[2022-11-21 20:21] #110 closed

[2022-11-21 20:21] tkanteck commented on #109
61490ba6f65c7e5efa172c2a41bb62c92102ff55 fixes the problem

[2022-11-21 20:21] #109 closed

[2022-11-23 16:01] ColinIanKing commented on #110
Thanks!

[2022-11-29 05:59] kojimr opened #112 "the performance does not scale with the number of cores"
When using intel-ipsec-mb with multiple threads, the performance does not scale with the number of cores. I found that imb_set_errno() is writing to one global variable "imb_errno" from multiple threads, which is causing the store buffer to run out and the CPU to stall.

I am using intel-ipsec-mb from dpdk, each version is DPDK v22.07 and intel-ipsec-mb v1.20.
For more information, please see the

[2022-11-29 18:48] michaelsizonenko opened #113 "error when installing on aws ec2"
nasm version: 2.15.05

When running make or make install after a while an error occurs on the same file as in the screenshot, reproduced on pure ubuntu 22 and Debian 11 on EC2, any idea why this might not work?
No specific settings on the servers, and not on EC2 servers everything works fine

![image](https://user-images.githubusercontent.com/51369289/204616821-21a3243f-5ea4-4e57-bbc6-6d5f35767195

[2022-11-29 21:56] tkanteck commented on #113
We have seen this problem in the past when there was not enough RAM in the system. One of the build processes gets killed due to lack of memory - there should be a notification in `dmesg`

[2022-11-29 23:52] tkanteck commented on #112
Thanks. We'll look into it